.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3000px;

    width: 100%;
}


.main-feed {
    /* background-color: white; */
    max-width: 630px;
    width: 630px;
    padding-top: 16px;
}

.stories {
    padding-top: 7px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    overflow: hidden;
    overflow-x: auto;
}

.stories::-webkit-scrollbar {
    display: none;
}

.story {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-decoration: none;
}

.story-profile-picture  {
    
    width: 72px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.story-profile-picture img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    z-index: 1;
}

.story-profile-picture .outer-circle {
    position: absolute;
    border-radius: 50%;
    border: 2px solid transparent;
    background:
        linear-gradient(white, white) padding-box,         
        linear-gradient(45deg, #ffc700,  #d300c5) border-box; 
    width: 64px;
    height: 64px;
}

.story-profile-handle {
    padding-top: 3px;
    display: flex;
    justify-content: center;
    color: black;
}

.post-area {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-container {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    width: 470px;
}

.post-header {
    display: flex;
    padding-bottom: 12px;
}

.post-profile-picture {
    position: relative;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    margin-right: 12px;

}

.post-profile-picture .outer-circle {
    position: absolute;
    border-radius: 50%;
    border: 2px solid transparent;
    background:
        linear-gradient(white, white) padding-box,         
        linear-gradient(45deg, #ffc700,  #d300c5) border-box; 
    width: 40px;
    height: 40px;
}

.post-profile-picture img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 1;
}

.post-author-section {
    font-weight: 500;
    font-size: 14px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-more-options {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.post-content img {
    width: 100%;
    height: 585px;
}

