.main-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-video-container img {
    width: 100%;
    border-radius: 10px;
}

.main-video-container-logo {
    position: absolute;
    cursor: pointer;
}

.ytp-large-play-button-bg {
    fill: black;
    opacity: .65;
}

.main-video-container:hover .ytp-large-play-button-bg {
    fill: #ff0033;
    opacity: 1;
}

.video-title-container {
    margin-top: 15px;
    font-size: 20px ;
    font-weight: 700;
}

.video-meta {
    display: flex;
    flex-direction: row;
}

.video-interaction-panel {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 32px;
}

.channel-profile-picture-container img {
    margin-right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.channel-profile-picture-container img:hover {
    cursor: pointer;
}

.channel-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 28px;
}

.channel-info-container {
    display: flex;
    flex-direction: row;
}

.channel-info-container {
    height: auto;
    align-items: center;
}

.channel-info-container .name {
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.main-channel-verification {
    padding-left: 4px;
    margin-bottom: 1px;
}

.channel-info .subscribers {
    height: 18px;
    font-size: 12px;
    color: #606060;
}

.channel-info-container .channel-verification {
    display: flex;
    justify-content: flex-start;
    /* margin-right: 4px; */
    margin-bottom: 1px;
}

.video-actions {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 14px 0px 4px 4px;
    /* width: 100%; */
}

.video-actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 1000px;
    border: none;
    height: 36px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.video-actions button:hover {
    background-color: #e5e5e5;
}

.video-actions button:active {
    background-color: #cecece;
}

.like-btn {
    width: 85px;
    border-radius: 1000px 0px 0px 1000px !important; 
    overflow: visible;
}


.like-svg {
    /* margin-right: 6px;
    margin-left: -6px; */
    line-height: 0;
}

.like-counter {
    margin-left: 6px;
}

.dislike-btn {
    width: 52px;
    border-radius: 0px 1000px 1000px 0px !important; 
}

.dislike-svg {
    margin-right: 6px;
    margin-left: -6px;
    line-height: 0;
}

.share-btn {
    margin-left: 8px;
    width: 92.13px;
}

.share-svg {
    margin-right: 6px;
    margin-left: -6px;
    line-height: 0;
}

.download-btn {
    margin-left: 8px;
    width: 118.22px;
}

.download-svg {
    margin-right: 6px;
    margin-left: -6px;
    line-height: 0;
}

.thanks-btn {
    margin-left: 16px;
    width: 102.16px;
}

.thanks-svg {
    margin-right: 6px;
    margin-left: -6px;
    line-height: 0;
}

.options-btn {
    margin-left: 8px;
    width: 36px;
    height: 36px;
}

.subscribe-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-button {
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    width: 94.54px;
    border-radius: 18px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

.subscribe-button:hover {
    opacity: .8;
}

.subscribe-button:active {
    opacity: .6;
}

.video-description-container {
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    /* margin-right: 12px; */
    background-color: #f2f2f2;
    border-radius: 12px;
    cursor: pointer;
}

.video-description-container:hover {
    background-color: #f0f7ff;
}

.video-description-container:active {
    background-color: #d8dee5;
}

.main-video-stats {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
}

.main-video-views {
    margin-right: 7px;
}

.main-video-description {
    font-size: 14px;
    line-height: 1.3rem;
}

.main-video-more {
    font-size: 14px;
    font-weight: 500;
    margin-left: 3px;
}

.ai-video-summary-container {
    display: flex;
    background-color: #f2f2f2;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 25px;
    border-radius: 12px;
    cursor: pointer;
}

.ai-video-summary-container:hover {
    background-color: #e6e6e6;
}

.ai-text-container {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 8px;
    font-size: 14px;
}

.ai-summary-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ai-star-logo {
    width: fit-content;
    height: fit-content;
    line-height: 0;
    margin-right: 4px;
}

.ai-summary-text {
    font-size: 13px;
    font-weight: 500;
}

.ai-dropdown-button-container {
    width: 40px;
    height: 40px;
}

.ai-dropdown-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.ai-dropdown-button-container:hover {
    background-color: #cfcfcf;
}

.ai-dropdown-button-container:active {
    background-color: #bababa;
}

.comments-section-container {
    display: flex;
    flex-direction: column;
}

.comments-counter-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.comments-counter {
    display: flex;
    align-items: center;
    height: 28px;
    font-size: 20px;
    font-weight: 800;
    margin-right: 32px;
}

.sort-container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.sort-svg {
    margin-top: -1px;
    margin-right: 8px;
}

.sort-text {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
    margin-top: 2px;
}

.add-comment-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 28px;
}

.add-comment-container img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 12px;
}

.add-comment {
    flex: 1;
    font-size: 14px;
    height: 25px;
    border: none;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 18px;
}

.add-comment:focus {
    outline: none;
}

.comment {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 16px;
}

.commenter-profile-picture {
    margin-right: 16px;
}

.commenter-profile-picture img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.comment-body {
    display: flex;
    flex-direction: column;
}

.commenter-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.comment-author {
    font-size: 13px;
    font-weight: 500;
    margin-right: 4px;
    cursor: pointer;
}

.comment-age {
    font-size: 12px;
    color: #606060;
    cursor: pointer;
}

.comment-age:hover {
    color: #000000;
}

.comment-text {
    font-size: 14px;
    margin-bottom: 6px;
}

.comment-actions {
    display: flex;
    flex-direction: row;
    height: 32px;
    margin-left: -8px;
}

.comment-like-btn-container {
    display: flex;
    flex-direction: row;
}

.comment-like-counter {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #606060;
    margin-right: 8px;
}

.comment-like-btn, .comment-dislike-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.comment-like-btn:hover, .comment-dislike-btn:hover, .comment-reply-btn:hover, .comment-options:hover {
    background-color: #e5e5e5;
}

.comment-like-btn:active, .comment-dislike-btn:active, .comment-reply-btn:active, .comment-options:active {
    background-color: #cecece;
}

.comment-reply-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53.66px;
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
    margin-left: 8px;
    border-radius: 1000px;
    cursor: pointer;
}

.comment-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: 2px;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 2;
}